body {
    display: flex;
    background-image: url('https://wallpapercave.com/wp/wp11904427.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

button {
    background-color: rgb(138, 4, 4);
    border-style: solid;
    border-color: white;
    color: white;
}